.card {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.home-card {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.myurls{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}