.btn {
    background: white;
    font-size: 1rem;
    padding: 2rem;
}

.shorturl-btn {
    width: 20rem;
    height: 80%;
    margin: auto 1rem;
    border-radius: 8px;
    line-height: 0rem;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}


.shorturl-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.shorturl-btn:active,
.shorturl-btn:focus {
    outline: none;
}