.nav-link {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-link li {
    list-style: none;
    margin: 0.8rem 0rem;
}

.nav-link a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #ffffff;
    padding: 1.3rem 2.8rem;
    border-radius: 6px;
}

.nav-link a.active {
    background: rgba(255, 255, 255, 0.26);
}