.myurl-wrapper {
    display: flex;
    height: 5rem;
    justify-content: center;
    border-radius: 6px;
    margin-top: 2rem;
    align-items: center;
    box-shadow: 0 0 19px 10px rgba(0, 0, 0, 0.2);
}

.myurl-container {
    display: flex;
    background: rgba(255, 255, 255, 0.384);

    padding: 1rem;
    color: #ccc;
    font-size: 1rem;
    margin: 1rem 0.1rem;
    flex-direction: column;
    border-radius: 4px;
    height: 5rem;

}

.myurl-wrapper label {
    font-size: 1.2rem;
    border-bottom: 2px solid #ccc;
}

.myurl-container div {
    color: black;
    margin: 0.5rem 0;
    font-size: 1rem;
}

.url-w {
    min-width: 30rem;
}

.expiresIn-w,
.shorturl-w {
    width: 8rem;
}