@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Source+Sans+Pro&display=swap');

:root {
  --red: #e91e63;
}



* {
  box-sizing: border-box;

}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;

}

main {
  height: 100vh;
  margin-top: 4rem;
}