@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Source+Sans+Pro&display=swap');

:root {
  --red: #e91e63;
}



* {
  box-sizing: border-box;

}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;

}

main {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(45deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%), url('./asset/background_6.jpg');
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}