.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--black-color);
}

.main-header__title {
    margin: 0.8rem;
}

.home-title {
    text-align: center;
    margin: 1.5rem;
    width: 100%;
    color: var(--blue-color);
}