.notification-container {
    width: 100%;
    height: 3rem;
    align-items: center;
    padding: 2rem;
    display: flex;
    top: 0;
    left: 0;
    transition: all 3s ease-in;
    position: relative;
}


.notification-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}

.notification-wrapper i {
    margin: 0 1rem;
}

.notification-wrapper p {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    vertical-align: top;
    color: white;
}

.notification-container button {
    position: absolute;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;

    right: 0%;
}

.notification-container button:hover {
    cursor: pointer;
}

.warning {
    background: #ff9e0f;
}

.error {
    background: #f55145;
}

.info {
    background: #00cae3;
}

.success {
    background: #55b559;
}