.notification-container {
    width: 40rem;
    height: 4rem;
    align-items: center;
    padding: 2rem;
    border-radius: 6px;
    display: flex;
    position: fixed;
    top: 0;
    left: 28%;
    animation: fromLeft .4s linear;
}


.notification-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}

.message {
    position: absolute;
    left: 0;
}

.notification-wrapper i {
    margin: 0 1rem;
}

.notification-wrapper p {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    color: white;
    left: 20%;
    position: absolute;
}

.notification-container button {
    position: absolute;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    right: 0%;
}

.notification-container button:hover {
    cursor: pointer;
}

.warning {
    background: #ff9e0f;
}

.error {
    background: #f55145ad;
}


.info {
    background: #00c8e3b9;
}

.success {
    background: #55b558ab;
}

@keyframes fromLeft {
    0% {
        transform: translateY(-4rem);
    }

    50% {
        transform: translateY(-2rem);
    }

    100% {
        transform: translateY(0);
    }
}